fastapi[all] >=0.141.0, <1.0.0
pytest >=9.1.0, <10.0.0
sqlalchemy >=2.0.0, <2.1.0
httpx[http2] >=0.28.0, <0.29.0
python-dotenv >=1.0.0, <2.0.0
pydantic >=2.13.0, <3.0.0
PyJWT[crypto] >=2.10.0, <3.0.0
psycopg2-binary >=2.9.0, <2.10.0
pytest-cov >=7.0.0, <8.0.0
